<style type="text/css" media="screen">
  html {
    height: 100%;
  }

  body {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    background: #2e2e2e;
    color: #9b59b6;
    background: linear-gradient(to left top, #111,#2e2e2e) no-repeat;
  }

  #svg {
    cursor: pointer;
    display: block;
    max-height: 80vmin;
    max-width: 80vmin;
    margin: 0 auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }

  #svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset .2s linear;
    stroke-dasharray: 252;
    stroke: #666;
    stroke-width: 10px;
  }

  #svg text {
    font-size: 1.6vmin;
    fill: #9b59b6;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    stroke: #e2e2e2;
    stroke-width: 0.3px;
  }

  #svg #bar { stroke: #9b59b6; }

  @media only screen and (max-width: 500px) {
    #svg text {
      font-size: 3vmin;
    }
  }
</style>
