<style type="text/css" media="screen">
  html {
    height: 100%;
  }

  body {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    background: #a32;
    color: #a32;
  }

  #svg {
    cursor: pointer;
    display: block;
    max-height: 100vmin;
    max-width: 100vmin;
    margin: 0 auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }

  #svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset .2s linear;
    stroke-dasharray: 190;
    stroke: #666;
    stroke-width: 3px;
  }

  svg path {
    stroke-dasharray: 0;
    stroke: #222;
    stroke-width: 1px;
  }

  use {
    transition: opacity .5s;
  }

  #back { opacity: 0; }

  #svg text {
    font-size: 1vmin;
    fill: #222;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    stroke: #a32;
    stroke-width: 0.3px;
  }

  text#ping {
    font-size: 1vmin;
  }

  #svg #bar { stroke: #222; }

  @media only screen and (max-width: 500px) {
    #svg text {
      font-size: 3vmin;
    }
  }
</style>
