<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Product">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" sizes="192x192" href="/icon-4x.png">
    <title>Speed Test | Flash My Net | Connection Bandwidth | The Flash</title>
    <meta name="description" content='Free speed tester for your internet connecton'>
    <meta name="keywords" content="Internet speed test, The Flash, Flash speed test, Connection speed test, Speed test">
    <meta name="og:description" content='Free speed tester for your internet connecton'>
    <meta name="og:type" content='application'>
    <meta name="og:url" content='https://flashmy.net'>
    <meta name="og:title" content='Be fast like Flash'>
    <meta name="og:image" content='https://flashmy.net/flash.png'>
    <meta itemprop="name" content="Flash speed tester">
    <meta itemprop="description" content="Free speed tester for your internet connecton">
    <meta itemprop="image" content="https://flashmy.net/flash.png">
    <script type="text/javascript">
      if ((window.location.port == '') && (window.location.protocol != 'https:')) {
        window.location.protocol = 'https';
      }
    </script>
    {% include styles.html %}
  </head>
  <body>
    {{ content}}
    {% include js.html %}
    <a class='logo' href="//active-bridge.com">
      {% include logo.html %}
    </a>
  </body>
</html>
